.font{
  font-family: arial,sans-serif;
  font-size: 13px;
}
.oneline{
  display: inline-block;
}

.navlinks{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.navlinks_signin{
    line-height: 28px;
    padding: 0 12px;
    color: #fff;
    cursor: default;
    text-decoration: none;
    border:1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    background: linear-gradient(to top,#4387fd,#4683ea);

}

.position_right{
  float:right;
  clear: both;
}
.position_left{
  float:left;
  clear: both;
}
