body{
  margin: 0;
}
#navbar{
  margin-top: .938rem;
  padding-right: 1.875rem;
}
.images{
  padding: 0 .938rem;
}
.margin_foot{
  margin-right: 1.875rem;
}
.footer_bar{
  background: #f2f2f2;
  border-top: .063rem solid #e4e4e4;
  min-width: 61.25rem;
  overflow: hidden;
}
.font{
  font-family: arial,sans-serif;
  font-size: .813rem;
}
.font_foot{
  font-size: .938rem;
  color: rgba(0,0,0,.54);
  text-decoration: none;
  line-height: 2.5rem;
  padding-left: 1.688rem;
  text-align: left;
}
.font_footer{
  font-size: small;
  color: #666;
  text-decoration: none;
  white-space: nowrap;
  line-height: 2.5rem;
  padding-left: 1.688rem;
  margin: 0 !important;
  display: inline-block;
}
#footer a:hover{
  text-decoration: underline;
}
#footer a:active{
  text-decoration: underline;
  color: #dd4b39;
}
.oneline{
  display: inline-block;
}

.navlinks{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.navlinks:hover{
  color: rgba(0,0,0,0.75);
  text-decoration: underline;
}
.navlinks_signin{
    background: linear-gradient(to top,#4387fd,#4683ea);
    border: .063rem solid #4285f4;
    color: #fff;
    font-weight: bold;
    line-height: 1.75rem;
    padding: 0 .75rem;
    border-radius: .125rem;
    display: inline-block;
    cursor: default;
    opacity: 1;
    text-decoration: none;
    outline: none;
}
.navlinks_signin:hover{
  	box-shadow: 0 .063rem 0 rgba(0,0,0,.15);
}
.signin{
  padding-left:.938rem;
}
.position_right{
  float: right;
}
.position_center{
  text-align: center;
}
.position_img{
  padding-top: 6.813rem;
}
.footer{
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  width:100%;
}
.gapps {
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    background-size: 33rem 4.25rem;
    width: 1.875rem;
    height: 1.875rem;
    opacity: .55;
    display: inline-block;
    margin:0;
    vertical-align: middle;
}
.gapps:hover{
  opacity: 1;
  cursor: pointer;
}
.InputButtons{
  height: 36px;
  line-height: 27px;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  -webkit-appearance: push-button;
  white-space: pre;
}
