body{
  margin: 0;
}
.margin_foot{
  margin-right: 30px;
}
.footer_bar{
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  min-width: 980px;
  overflow: hidden;
}
.font{
  font-family: arial,sans-serif;
  font-size: 13px;
}
.font_foot{
  font-size: 15px;
  color: rgba(0,0,0,.54);
  text-decoration: none;
  line-height: 40px;
  padding-left: 27px;
  text-align: left;
}
.font_footer{
  font-size: small;
  color: #666;
  text-decoration: none;
  white-space: nowrap;
  line-height: 40px;
  padding-left: 27px;
  margin: 0 !important;
  display: inline-block;
}
#footer a:hover{
  text-decoration: underline;
}
#footer a:active{
  text-decoration: underline;
  color: #dd4b39;
}
.oneline{
  display: inline-block;
}

.navlinks{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.navlinks_signin{
    background: linear-gradient(to top,#4387fd,#4683ea);
    border: 1px solid #4285f4;
    color: #fff;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    display: inline-block;
    cursor: default;
    opacity: 1;
    text-decoration: none;
    outline: none;
}
.navlinks_signin:hover{
  	box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.position_right{
  float: right;
}
.position_center{
  text-align: center;
}
.position_img{
  padding-top: 109px;
}
.footer{
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  width:100%;
}
.gapps {
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    background-size: 528px 68px;
    width: 30px;
    height: 30px;
    opacity: .55;
    display: inline-block;
    margin: 0 1px 0 10px;
    vertical-align: middle;
}
.gapps:hover{
  opacity: 1;
}
