.font{
  font-family: arial,sans-serif;
  font-size: 13px;
}
.font_foot{
  font-size: 15px;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}
.oneline{
  display: inline-block;
}

.navlinks{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.navlinks_signin{
    line-height: 28px;
    padding: 0 12px;
    color: #fff;
    cursor: default;
    text-decoration: none;
    border:1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    background: linear-gradient(to top,#4387fd,#4683ea);

}

.position_right{
  float: right;
  clear: both;
}
.position_left{
  float: left;
  clear: both;
}
.position_center{
  text-align: center;
}
.position_img{
  padding-top: 109px;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.gapps {
  height: 30px;
  width: 30px;
  background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  background-position: -132px -38px;
  opacity: 0.55;
}
